@page "/Alias"
@using MauiApp1.Components.Layout;
@layout SinMenuLayout;

<div class="boddy">
	<div class="wrapper">
		<center>
			<div class="nombre-container">
				<label for="nombre">Ingresa tu nombre o alias:</label>
				<input id="nombre" type="text" class="nombre-input" />
			</div>
			<NavLink class="neon-btn verde-manzana" href="Inicio">
				🚀 Comencemos
			</NavLink>
		</center>
		<div class="symbols">
			<!-- Simbolitos regados -->
			<div class="symbol square" style="top:20%; left:10%; animation-duration:12s;">■</div>
			<div class="symbol circle" style="top:80%; left:20%; animation-duration:12s;">●</div>
			<div class="symbol triangle" style="top:60%; left:5%; animation-duration:12s;">▲</div>
			<div class="symbol cross" style="top:40%; left:12%; animation-duration:12s;">✖</div>
			<div class="symbol square" style="top:30%; left:11%; animation-duration:12s;">■</div>

			<div class="symbol circle" style="top:60%; left:30%; animation-duration:9s;">●</div>
			<div class="symbol triangle" style="top:40%; left:70%; animation-duration:14s;">▲</div>
			<div class="symbol cross" style="top:80%; left:50%; animation-duration:11s;">✖</div>

			<div class="symbol square" style="top:10%; left:80%; animation-duration:8s;">■</div>
			<div class="symbol circle" style="top:90%; left:20%; animation-duration:13s;">●</div>
			<div class="symbol triangle" style="top:75%; left:60%; animation-duration:10s;">▲</div>
			<div class="symbol cross" style="top:30%; left:40%; animation-duration:15s;">✖</div>

			<div class="symbol square" style="top:70%; left:60%; animation-duration:12s;">■</div>
			<div class="symbol circle" style="top:40%; left:50%; animation-duration:9s;">●</div>
			<div class="symbol triangle" style="top:10%; left:90%; animation-duration:14s;">▲</div>
			<div class="symbol cross" style="top:40%; left:90%; animation-duration:11s;">✖</div>

			<div class="symbol square" style="top:30%; left:90%; animation-duration:12s;">■</div>
			<div class="symbol circle" style="top:60%; left:96%; animation-duration:9s;">●</div>
			<div class="symbol triangle" style="top:80%; left:98%; animation-duration:14s;">▲</div>
			<div class="symbol cross" style="top:10%; left:95%; animation-duration:11s;">✖</div>
		</div>
	</div>
</div>
