@page "/Inicio"

<div class="page-video">
    <!-- Video de fondo -->
    <video id="bgVideo" autoplay muted loop playsinline>
        <source src="imagenes/videoFondoYosi.mp4" type="video/mp4">
        Tu navegador no soporta video en HTML5.
    </video>

    <section class="content-section">
        <div class="text-card">
            <h1 class="text-primary-title">Bienvenidos</h1>
            <p class="lead text-white-70">
                Revive la magia de los juegos clásicos con una colección llena de nostalgia y diversión. Corre, salta, esquiva obstáculos,<br /> pon a prueba tu memoria y desafía tus reflejos en un<br /> solo lugar, donde cada partida te lleva de<br /> vuelta a los mejores momentos del pasado.
            </p>
            <div class="image-wrapper">
                <img src="imagenes/mario-pacman-mejor.png" alt="Imagen de Producto" class="hero-image">
            </div>
        </div>
    </section>

</div>

@code {

}
